<style>
   @font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
   }
/*** Изменение полосы прокрутки ***/ 
::-webkit-scrollbar{ width: 13px; /* 1 - вертикальный скроллбар */} 
::-webkit-scrollbar:horizontal{ height: auto; /* 1 - горизонтальный скроллбар */} 
::-webkit-scrollbar-button {background: white; /* 2 - кнопка */} 
::-webkit-scrollbar-track {background: white;/* 3 - трек */} 
::-webkit-scrollbar-thumb {background: #351a51; border-radius: 30px; -webkit-box-shadow: inset 0 0 6px none; /* 5 - ползунок */} 
body {
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    pad/ding: 2em 2em 4em;
    width: auto;
    height: auto;
    backgrou/nd-image: url(https://randart.ru/art/JD99/wallpapers?h=1080&w=1920&q=100);
    background-image: url(img/skybg.jpg);
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h1.h1 {
    background: #041744;
    padding: 5px;
    border-radius: 7px;
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    text-shadow: 1px 3px 1px #dc9eb5;
    clear: both;
    color: white;
}
h1 {
    padding: 5px;
    border-radius: 7px;
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    background: wheat;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

div.avatar {
    text-align: center;
}
/* Верхнее меню */
#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar li { display: inline; 
}
#navbar {
    margin: auto;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: auto;
    display: block;
}
#navbar a {
    color: white;
    padding: 20px;
    font-weight: bold;
    display: inline-block;
    width: auto;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
    font-family: 'handle', cursive;
    border-radius: 5px;
}
#navbar a:hover {
    color: yellow;
}
.top {
    height: auto;
    margin: auto;
    max-width: 100%;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Лого */
.logo{
    display: block;
    position: absolute;
}
/* Подвал */
footer {
    text-align: center;
    line-height: 2em;
    background: white;
    max-width: max-content;
    margin: auto;
    color: black;
    width: auto;
    padding: 0 7px;
    margin-top: 3px;
    border-radius: 3px;
}
/* Шапка */
.header-bg {
    margin: auto;
}
img.ytmilisa {
    width: 100%;
    height: auto;
}


img.ytwe {
    display: none;
}

/* Локальное время */ 
#time {
    background: #ffffff;
    max-width: 4em;
    padding: 5px;
    color: black;
    width: max-content;
    float: right;
    position: absolute;
    border-bottom-right-radius: 5px;
}
/* Вкладки (Контакты) */ 
.tabs {
    width: max-content;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 0.9em 0 0 0;
    border-radius: 25px;
    min-height: 20em;
    background: white;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
}
.tabs>div {
    display: n one;
    padding: 12px;
    background: inherit;
    font-size: 20px;
    border-radius: inherit;
}
.tabs>input:checked + label {
    color: white;
    background: #ff4f4f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
#tab_3:checked ~ #txt_3,
#tab_4:checked ~ #txt_4 { 
    display: block; 
}
#tab_1:checked ~ #txt_1 {}
img.me_ava {
    border-radius: 50%;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.32);
    transition: 0.5s;
}
img.me_ava:hover {
    box-shadow: none;
}
p.ctxt {
    height: 100px;
}

/* В разработке*/ 
.attention {
    background-color: #ff4f4f00;
    text-align: center;
    font-style: italic;
    color: black;
    position: relative;
    width: auto;
    height: auto;
    animation: bounce;
    font-size: 16px;
    font-family: 'handle', cursive;
}



.l-page {
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 4px;
}



/* Комментарии от ВК*/ 
#page_wrap {
    width: 1241px;
    margin: auto;
}





/* Видео */
.videos {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 0.9em 0 0 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

/* Контакты */
.contacts_bot {
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-width: 100%;
    margin: auto;
    background: white;
    background-image: url(img/bg_contacts.jpg);
    margin-top: 15em;
    padding-top: 1em;
    border-top: 6em solid white;
    border-bottom: 6em solid white;
    background-repeat: no-repeat;
    background-size: cover;
}
h1.jami {
    background: #000000;
    color: white;
    width: max-content;
    margin: auto;
    max-width: 100%;
    font-family: monospace;
    border-radius: 3px;
}
h1.foxyleesa {
    background: #ff47c5;
    color: white;
    width: max-content;
    margin: auto;
    max-width: 100%;
}
h1.cineman {
    background: #000000;
    color: white;
    width: max-content;
    margin: auto;
    max-width: 100%;
    font-family: monospace;
    border-radius: 3px;
}
h1.casama {
    background: #beca22;
    color: white;
    width: max-content;
    margin: auto;
    max-width: 100%;
}

/* Новости */
.news_block {
    background: white;
    padding-top: 1px;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
h1.news {
    background-color: none;
    color: black;
    max-width: max-content;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}
.news {    
    max-width: 1300px;
    margin: auto;
    padding: 10px;
    background: white;
}
.date {
    text-align: center;
    line-height: 2em;
    background: #ffffff;
    width: 1241px;
    margin: auto;
    border-radius: 3px;
    color: black;
    max-width: max-content;
    padding: 0 7px;
}
/* Страница About */
.about {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 0.9em 0 0.9em 0;
}
h1.wim {
    background-color: black;
    color: white;
    max-width: max-content;
    margin: auto;
    padding: 6px;
    text-shadow: 1px 3px 1px #ff0000;
    font-family: monospace;
    border-radius: 3px;
    transition: 0.3s;
}
h1.wim1 {
    background-color: black;
    color: white;
    width: max-content;
    margin: auto;
    text-shadow: 1px 3px 1px #ff0000;
    font-family: monospace;
    border-radius: 3px;
    transition: 0.3s;
}
h1.wim:hover {
    text-shadow: none;
}
h1.wim1:hover {
    text-shadow: none;
}
.wim {
    padding: 0 55px;
    text-align: center;
}
.wim_con {
    padding: 0 55px;
    text-align: center;
}
p.copy {
    margin: 0;
}
/*** Фон на мобильных ***/ 
@media screen and (min-width:240px) and (max-width:1366px){
body {
    background: none;
    }
.logo {
    display: none;
}
.top {
    margin-top: 0em;
    background-color: #061443;
}
/*** Мобильные версии ***/ 
@media screen and (min-width:240px) and (max-width:720px) {
.tabs {
    display: block;
    width: auto;
    border-radius: 0;
}
p.ctxt {
    height: auto;
}
#navbar a {
    font-size: 14px;
    padding: 10px;
}
h1.h1 {
    font-size: 20px;
    border-radius: 0;
}
.attention {
    max-width: -webkit-fill-available;
}
.tabs>label{
    font-size: 15px;
    box-shadow: none;
}
h1.jami, h1.foxyleesa, h1.cineman, h1.casama {
    font-size: 20px;
}
.tabs>input:checked + label {
    border-radius: 0px;
}
.wim {
    padding: 05px;
}
.wim_con {
    padding: 05px;
    text-align: center;
}
h1.wim1 {
    font-size: 20px;
}
h1.news {
    background-color: white;
    color: black;
    margin-top: 10px;
    font-size: 21px;
}
p.copy {
    border-top: 1px solid black;
}
}
/*** Мобильные версии 320x568***/ 
@media screen and (min-width:240px) and (max-width:568px) {
#navbar a {
    font-size: 9px;
}
}
/*** Мобильные версии 768x1024***/ 
@media screen and (min-width:768px) and (max-width:1024px) {
.logo {
    display: none;
}
}